
#side-bar-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vw;
    border: #000 ;
}

#side-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    

}

#side-bar a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    border-bottom: 1px solid #000;
    border-right: #000 1px solid;
    background-color: #fff;
    transition: 0.5s;

    font-size: 1rem;
}